/* mobile */
body {
	background-color: #E0E1E2;
	margin: 0;
}

input {
	padding-left: 1em;
	height: 2em;
}

button {
	color: white;
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	font-size: 0.9em;
	position: relative;
}

button div {
	display: inline-block;
	position: relative;
	right: 1em;
	bottom: 0.7em;
}

.input-form {
	position: relative;
}



.top-header {
	background-color: #476C99;
	padding-left: 2em;
	padding-top: 0.5em;
	padding-bottom: 1em;
}

.top-header .ion-image {
	margin-right: 0.5em;
	margin-left: 0.5em;
	font-size: 3em;
	line-height: 1.2em;
}

.cancel-button {
	padding: 1.1em 1em;
	background-color: grey;
	border-color: grey;
	position: relative;
	bottom: 0.8em;


}

.submit-button {
	background-color: #17AA56;
	border-color: #02A247;
	padding: 0;
}

.ion-plus-circled {
	font-size: 2em;
}

.image-board {
	padding: 0 3.2em
}

.image-card {
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
}
.image-card img {
	width: 100%;

	}

	.image-card .caption-box {
		background-color: white;
		height: 3em;
		padding: 2em;
		margin-bottom: 2.2em;
		color: grey;
	}

/* desktop */
@media(min-width: 1000px){
	.form-input {
		display: block;
	}
}
