<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Image Board</title>
	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body ng-app='app'>
	<div ng-controller="HttpCtrl">

		<div class="top-header">

			<i ng-click="showInputs()" class="icon ion-plus-circled"></i>

			<div class="input-form" ng-show="plusClicked || activeWindow">
				<label>caption</label>
				<input placeholder="caption" type="text" ng-model="caption">
				<label>image</label>
				<input placeholder="image URL" type="text" ng-model="image">
				<button class="submit-button" type="submit" ng-click="sendData(caption, image)"><i class="icon ion-image"></i>
					<div>
						Add Image
					</div>

				</button>
				<button class="cancel-button">Cancel</button>
			</div>


		</div>

		<div class="image-board">
			<div ng-repeat="message in messages"class="image-card">
				<img ng-src="{{ message.image }}"></img>
				<div class="caption-box">{{ message.caption }}</div>
			</div>
		</div>

	</div>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers.js"></script>
</body>
</html>



